.scp-utm-container {
	display: flex;
	gap: 15px;
	align-items: flex-start;
	max-width: 800px;
}

.scp-utm-box {
	flex: 1;
}

.scp-utm-box h3 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 600;
}

.scp-utm-box select {
	width: 100%;
	height: 250px !important;
}

.scp-utm-buttons {
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: center;
	align-self: center;
}

.scp-utm-buttons .button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 30px;
	padding: 0;
}

.scp-utm-selected-wrapper {
	display: flex;
	align-items: flex-start;
}

.scp-utm-selected-wrapper .scp-utm-buttons {
	margin-left: 5px;
	display: flex;
	flex-direction: column;
}

.rule-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#utm-add-field .dashicons,
#utm-remove-field .dashicons {
	transform: scale(1.3);
}

#utm-move-up .dashicons,
#utm-move-down .dashicons {
	transform: rotate(-90deg) scale(1.3);
}

#utm-move-top .dashicons,
#utm-move-bottom .dashicons {
	transform: rotate(-90deg);
}

.rule-group .button.remove-rule {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
}

.rule-group .button.remove-rule .dashicons {
    margin: 0;
}
